In [ ]:
First_name = ( input("Your First Name : "))
last_name = (input("Your Last Name : "))
Full_Name = print(First_name + last_name)

Your First Name : Baby Srija
Your Last Name : Bitra
Baby SrijaBitra

In [ ]:
def string_alternative(Str):
    output = ""
    for a in range(len(Str)):
        if a % 2 == 0:
            output += Str[a]
    return output
print(string_alternative("Good evening"))

Go vnn

In [ ]:
file1 = open('/content/input.txt.txt', 'r')
counts = dict()
data = file1.read()
words = data.split()
for word in words:
    if word in counts:
        counts[word] += 1
    else:
        counts[word] = 1
print(counts)


f = open('output.txt', 'w')
f.write(data)
f.write('\nword_count:\n')
for key, value in counts.items():
    f.write(f"{key}: {value}\n")
f.close()

{'Python': 1, 'Course': 2, 'Deep': 1, 'Learning': 1}

In [ ]:
L1=list(map(float,input().split()))
L2=[]
for x in L1:
    x=x*2.54
    L2.append(x)
print(L2)

150
[381.0]

In [ ]:
L1=list(map(float,input().split()))
L2=[x*2.54 for x in L1]
print(L2)

150 155 145 148
[381.0, 393.7, 368.3, 375.92]

# New Section